body {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(85, 26, 139);
}

header {
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: blueviolet;
}

#app {
    width: 400px;
    height: 600px;
    margin: 0 auto;
    background-color: aliceblue;
}

i {
    margin-right: 10px;
}

.goBack {
    font-size: 40px;
    position: absolute;
    top: 40px;
    left: 20px;
}

#title {
    font-size: xx-large;
    display: inline-block;
    margin: 30px 15px;
}

footer {
    display: flex;
    justify-content: center;
}

.box {
    width: 300px;
    margin: 0 auto;
    background-color: beige;
}

td:first-child {
    font-weight: bold;
}

ul {
    margin: 0;
    padding-left: 0;
    font-size: 20px;
}

li {
    list-style-type: none;
    padding: 10px;
}

.onOffBox {
    display: inline-block;
    width: 40px;
    height: 20px;
    background: #ccc;
    border-radius: 20px;
    margin: 0 10px;
}

.onOffCircle {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 20px;
}

.on .onOffCircle {
    transform: translate(20px, 0);
}

.on {
    background-color: rgb(95, 9, 95);
}

#addGadget {
    /* button style */
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    border: 3px solid rgb(95, 9, 95);
    color: rgb(95, 9, 95);
    transition-duration: 0.2s;
}

#addGadget:hover {
    font-size: medium;
    transition-duration: 0.2s;
}

main {
    overflow-y: scroll;
}

main::-webkit-scrollbar {
    display: none;
}