/* #app{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: solid;
}

main{
    width: 350px;
    margin-left: 25px;
    height: 380px;
    overflow-y: scroll;
}

main::-webkit-scrollbar {
    display: none;
}
h4{
    margin-top: 5px;
}
header{
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    grid-template-columns: 30% 40% 30%;
    justify-items: center;

    padding:10px;
}
#title{
    flex-grow: 2;
}
h1{
    margin-left: 50px;
} */

/* 

#temperatura{
    margin-top: -50px;
    margin-left: 5px;
}
#t{
    width: 50px;
}
.lista{
    margin-top: -15px;
}
.lista{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 40% 60%;
    justify-items: center;
    align-items: center;
    height: 33%;
    background-color: beige;
    margin: 10px;
    border: solid;
}

h2{
    grid-area: 1 / 1 / 2 / 4;
}



#scrollbar{
    border: solid;
    grid-area: 2 / 3 / 5 / 5;
    height: 100%;
    margin-left: 6px;
    margin-right: 6px;
}

#bar{
    background-color: rgb(255, 255, 255);
    border-bottom: solid;
    height: 250px;
} */

.box {
    width: 400px;
    margin-top: 40px;
}

.local {
    font-size: 30px;
    padding: 40px 0;
}

.ok {
    color: green;
}

.danger {
    color: red;
}

td {
    text-align: right;
    padding: 15px;
}

tr:nth-child(2) td {
    padding-top: 0;
}

tr:last-of-type td {
    padding-bottom: 50px;
}

tr td:first-child {
    font-size: 20px;
}