#goBack {
    font-size: 40px;
}

#goBack:hover {
    font-size: 45px;
    transition-duration: 0.2s;
}

li {
    background-color: beige;
    margin-left: 30px;
    margin-right: 30px;
}

li:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 0.2s;
}

#addGadget {
    /* button style */
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    border: 3px solid rgb(95, 9, 95);
    color: rgb(95, 9, 95);

    /* button position */
    margin-top: 200px;
}

#addGadget:hover {
    font-size: medium;
    transition-duration: 0.2s;
}