main {
    height: 375px;
    overflow-y: scroll;
}

main::-webkit-scrollbar {
    display: none;
}

.lista-notificacoes li:hover,
.lista-notificacoes a:hover {
    background-color: purple;
    color: aliceblue;
}

.hide-list {
    display: none;
    background-color: #fff;
}

.lista-notificacoes a:focus + .hide-list,
.hide-list:hover {
    display: block;
}