#lista-notificacoes a:hover li {
    background-color: purple;
    color: aliceblue;
}

.onOffButton {
    font-size: 15px;
    float: right;
}

#lista-notificacoes li span {
    float: left;
}

#lista-notificacoes li {
    text-align: right;
}

#lista-notificacoes a li {
    text-align: center;
    background-color: rgba(239, 247, 255, 0.39);
}

#title {
    margin-left: 50px;
}

.box {
    width: 400px;
}