.intrude-item {
    position: relative;
    height: 200px;
    margin-bottom: 20px;
    padding: 20px;
}

.treated {
    color: green;
}

.untreated {
    color: red;
}

.delete {
    margin-top: 30px;
    font-size: 25px;
}

footer {
    display: block;
}

.dlt-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    width: 30px;
    height: 30px;
}

.dlt {
    margin: 0;
    font-size: 20px;
    color: beige;
}

.scroll {
    background-color: transparent;
    height: 420px;
    padding-top: 0;
}

#title {
    font-size: 38px;
    margin-left: 50px;
}